{% extends "base.html"%}
{% load bootstrap3 %}

{% block title %}{{ title }} {% endblock %}

{% block content %}


{% if texto %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-5">{{ texto_title }}</h1>
        <p>{{ texto }}</p>
    </div>
</div>
{% endif %}


<form action="" class="form-horizontal" enctype="multipart/form-data" method="post">
    <div class="box-body">
        {% csrf_token %}

        {% bootstrap_form form %}
        <hr/>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary" type="submit">Predict</button>
                <a class="btn btn-default" href="{% url 'core:home' %}">Cancel</a>
            </div>
        </div>

    </div>
</form>
</p>

{% if predict %}
<div class="alert alert-primary" role="alert">
    <p>{{ predict }}</p>
</div>
{% endif %}


{% endblock %}


